<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= quiz.title %></title>
    <!-- Bootstrap CSS -->
    <%= @bootstrap_css %>
    <style type="text/css" media="all">
      div.quiz, p.comment, div.explanation {display:inline;}
      strong.correct {color:#14B63F;}
      strong.incorrect {color:rgb(255,0,0);}
      strong.mark {color:rgb(255,128,0);}
      div.score {font-weight: bold; font-size: 20px;}
      input.correct {color:#14B63F; font-weight: bold;}
      input.incorrect {color:rgb(255,0,0); font-weight: bold;}
      div.custom-header {background-color:#7a3b7a; color:#FFFFFF; font-weight: bold;}
      body {padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px;}
      html {position: relative; min-height: 100%;}
      .navbar {margin-bottom: 20px;}
      .btn-footer {text-align: center;}
      #footer {
        position: absolute;
        bottom: 0;
        height: 30px;
        width: inherit;
      }
      div.container {background-color:#EAEAEA;}
      div.explanation {font-style: italic;}
      .nav>li>a.links {
        display: inline; 
        padding: 0; 
        color: #FFFFFF;
      }
      .nav>li>a.links:hover {color: #FFCCFF;}
      div.col1 {
        float: left;
        margin-right: 50px;
      }
      div.col2, div.col2sm {
        float: left;
      }
      div.col3 {
        float: left;
        margin-left: 50px;
      }
      div.clear-qdd {
        clear: left;
      }
      input.input-qddmc {
        line-height: 1.7;
        margin-bottom: 3;
      }
      button.button-qddmc, button.button-qddsm {
        margin-bottom: 3px;
      }
      button.button-qddsm {
        margin-left: 1px;
        margin-right: 1px;      
      }
      
      div.dragdropsm {
        background-color: #FFF;
        display: block;
        height: 30px;
        margin-bottom: 3;
        border-radius: 5;
      }
      
      /* Inputs size */
      <%= @sass %>
    </style>
    <!-- jQuery ContextMenu CSS -->
    <%= @context_menu_css %>
    <!-- Any CSS included by the user -->
    <%= @css_custom %>
    <!-- Mathjax -->
    <%= @mathjax %>
    <!-- CodeMirror -->
    <%= @codemirror %>
  </head>
  <body>
    <div class="container">
      <% if (quiz.get_header)%>
          <h3><%= quiz.title %></h3>
          <%= quiz.get_header %>
          <br></br>
      <% else %>
        <div class="navbar navbar-default custom-header">
          <div class="navbar-header">
            <h3><%= quiz.title %></h3>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="/home_alumno" class="links">
                  Salir </a>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <%= yield %>
      <% if (quiz.get_footer) %>
        <%= quiz.get_footer %>
        <br></br>
      <% else %>
        <div id="footer">
          <div class="row text-muted">
            <div class="col-md-6">
              Quiz generated using the RuQL Gem. For more information, visit <a href="https://github.com/jjlabrador/ruql">GitHub</a>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              University <% date = Time.new %><%= date.year %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <!-- ############################## JavaScripts ############################## -->
    <!-- jQuery -->
    <%= @jQuery %>
    <!-- Internationalization -->
    <%= @i18n %>
    <!-- Drag and Drop -->
    <%= @dragdrop %>
    <!-- XRegexp -->
    <%= @xregexp %>
    <!-- Form validation -->
    <%= @validation_js %>
    <!-- jQuery ContextMenu -->
    <%= @context_menu %>
    <!-- Any JavaScript included by the user -->
    <%= @js_custom %>
    <!-- CodeMirror object -->
    <%= @codemirror_object %>
    <!-- JavaScript for Bootstrap -->
    <%= @bootstrap_js %>
  </body>
</html>